<!DOCTYPE html>
<html lang="en" class="light-style layout-menu-fixed" dir="ltr" data-theme="theme-default" data-assets-path="../assets/"
    data-template="vertical-menu-template-free">

<head>
    <meta charset="utf-8" />
    <meta name="viewport"
        content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0" />

    <title>CropManager</title>

    <meta name="description" content="" />

    <!-- Favicon -->
    <link rel="icon" type="image/x-icon" href="/assets/img/favicon/favicon.ico" />

    <!-- Fuentes -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
        href="https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap"
        rel="stylesheet" />

    <!-- Iconos -->
    <link rel="stylesheet" href="/assets/vendor/fonts/boxicons.css" />

    <!-- Core CSS -->
    <link rel="stylesheet" href="/assets/vendor/css/core.css" class="template-customizer-core-css" />
    <link rel="stylesheet" href="/assets/vendor/css/theme-default.css" class="template-customizer-theme-css" />
    <link rel="stylesheet" href="/assets/css/demo.css" />
    <link rel="stylesheet" href="/assets/css/trazado.css" />

    <!-- Vendors CSS -->
    <link rel="stylesheet" href="/assets/vendor/libs/perfect-scrollbar/perfect-scrollbar.css" />
    <link rel="stylesheet" href="/assets/vendor/libs/apex-charts/apex-charts.css" />

    <!-- Helpers -->
    <script src="/assets/vendor/js/helpers.js"></script>

    <!--! Template customizer & Theme config files MUST be included after core stylesheets and helpers.js in the <head> section -->
    <!--? Config:  Mandatory theme config file contain global vars & default theme options, Set your preferred theme option in this file.  -->
    <script src="/assets/js/config.js"></script>

    <script async
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBxHLrR15oQTeiQFRndW9Y6YacYsVFHcR0&libraries=drawing&callback=initMap">
        </script>

    <style>
        #map {
            height: 100%;
        }

        html,
        body {
            height: 100%;
            margin: 0;
            padding: 0;
        }
    </style>

</head>

<style>
    #map {
        height: 100%;
        width: 100%;
    }

    .gm-style-cc {
        display: none !important;
    }
</style>

<body>
    <script>
        let oMapaGoogle;
        let oDrawingManager;
        let mListaCampo = [];
        let oPolygon = null;

        async function initMap() {
            //@ts-ignore

            oMapaGoogle = new google.maps.Map(document.getElementById("map"), {
                center: { lat: -1.308856, lng: -78.698701 },
                zoom: 16,
                mapTypeId: 'hybrid',
                zoomControl: false,
                fullscreenControl: false,
                streetViewControl: false,
                mapTypeControl: false
            })

            oDrawingManager = new google.maps.drawing.DrawingManager({
                drawingControlOptions: {
                    position: google.maps.ControlPosition.TOP_CENTER,
                    drawingModes: [
                        google.maps.drawing.OverlayType.POLYGON,
                    ]
                },
                polygonOptions: {
                    fillColor: "#ECF0F1",
                    strokeOpacity: 0.8,
                    fillOpacity: 0.6,
                    strokeWeight: 3,
                    clickable: false,
                    editable: true,
                    zIndex: 1,
                },
            });

            oDrawingManager.setMap(oMapaGoogle)

            google.maps.event.addListener(oDrawingManager, 'polygoncomplete', function (poligono) {
                mListaCampo = [];
                closeOptions();
                if (oPolygon != null) {
                    closeEditForma();
                }
                let campoArea = document.getElementById("idtxtArea");
                let area = google.maps.geometry.spherical.computeArea(poligono.getPath());
                campoArea.value = Math.ceil(area);

                let lista = poligono.getPath().getArray()
                for (var i = 0; i < lista.length; i++) {
                    var obj = { lat: lista[i].lat(), lng: lista[i].lng() }
                    mListaCampo.push(obj);
                }

                if (mListaCampo.length > 0) {
                    oPolygon = poligono
                    document.getElementById("btnNuevoCampo").click();
                }
            })
            readAllCamposApi()
        }
        initMap()

        function saveCampo() {
            let campoNombre = document.getElementById("idtxtNombre");
            let campoDetalle = document.getElementById("idtxtDetalle");
            let campoArea = document.getElementById("idtxtArea");
            let campoEncargado = document.getElementById("encargadoCampo");
            const vacio = document.getElementById("idVacio");
            let stringCoordenadas = ""
            const txtError = document.getElementById("error");

            for (var i = 0; i < mListaCampo.length; i++) {
                if (mListaCampo.length - 1 === i) {
                    stringCoordenadas = stringCoordenadas + mListaCampo[i].lat + "," + mListaCampo[i].lng
                } else {
                    stringCoordenadas = stringCoordenadas + mListaCampo[i].lat + "," + mListaCampo[i].lng + ";"
                }
            }

            var objCampo = {
                encargado: campoEncargado.value,
                estado: vacio.title,
                nombre: campoNombre.value,
                descripcion: campoDetalle.value,
                area: campoArea.value,
                posiciones: stringCoordenadas
            }

            $.ajax({
                url: '/campos/add',
                method: 'POST',
                dataType: 'json',
                data: {
                    // Aquí puedes pasar los datos que deseas enviar en el cuerpo de la solicitud
                    encargado: objCampo.encargado,
                    estado: objCampo.estado,
                    nombre: objCampo.nombre,
                    descripcion: objCampo.descripcion,
                    area: parseInt(objCampo.area),
                    posiciones: objCampo.posiciones
                },
                success: function (response) {
                    // La respuesta exitosa de la API
                    document.getElementById("btnCancelarNC").click();
                    readAllCamposApi()
                },
                error: function (xhr, status, error) {
                    // Ocurrió un error al hacer la solicitud
                    console.error(error)
                    txtError.style.display = "block"
                }
            });
        }

        function closeNuevoCampo() {
            document.getElementById("idtxtNombre").value = "";
            document.getElementById("idtxtDetalle").value = "";
            document.getElementById("idtxtArea").value = "";
            document.getElementById("error").style.display = "none";
            oPolygon.setMap(null);
        }
    </script>

    <!-- Layout -->
    <div class="layout-wrapper layout-content-navbar">
        <div class="layout-container">

            <!-- Menu -->
            <aside id="layout-menu" class="layout-menu menu-vertical menu bg-menu-theme">
                <div class="app-brand demo">
                    <a href="index.html" class="app-brand-link">
                        <span class="app-brand-logo demo">
                            <svg width="40" viewBox="0 0 25 25" version="1.1" xmlns="http://www.w3.org/2000/svg"
                                xmlns:xlink="http://www.w3.org/1999/xlink">
                                <path id="Nature"
                                    d="M24.76,4.12C18.34.3,11.9,0,6.13,3.19,2.83,5,.51,8,.08,11.08a7.06,7.06,0,0,0,1.44,5.4A19.32,19.32,0,0,1,9.4,8.61a.5.5,0,1,1,.49.87c-6.53,3.64-8.66,9.11-9.87,14a.49.49,0,0,0,.1.3c.19.24.52.19,1.13.2H2.33c1.09,0,1.1-.07,1.17-.42a20.69,20.69,0,0,1,1.4-4.38c4.86,2.14,11.53-1,14.32-4.36A14.47,14.47,0,0,0,21.67,10C22.35,8.14,23,6.34,24.8,5a.5.5,0,0,0,0-.83Z"
                                    fill="#696cff"></path>
                            </svg>
                        </span>
                        <span class="app-brand-text demo menu-text fw-bolder ms-2">CropManager</span>
                    </a>
                    <a href="javascript:void(0);"
                        class="layout-menu-toggle menu-link text-large ms-auto d-block d-xl-none">
                        <i class="bx bx-chevron-left bx-sm align-middle"></i>
                    </a>
                </div>

                <div class="menu-inner-shadow"></div>

                <ul class="menu-inner py-1">

                    <!-- Dashboard -->
                    <li class="menu-item ">
                        <a href="/inicio" class="menu-link">
                            <i class="menu-icon tf-icons bx bxs-dashboard"></i>
                            <div data-i18n="Analytics">Panel de control</div>
                        </a>
                    </li>
                    <li class="menu-item">
                        <a href="/calendario" class="menu-link">
                            <i class="menu-icon tf-icons bx bx-calendar"></i>
                            <div data-i18n="Basic">Calendario</div>
                        </a>
                    </li>

                    <!-- Reportes -->
                    <% if (usuario.rol_usuario==1) {%>
                        <li class="menu-item">
                            <a href="#" class="menu-link menu-toggle">
                                <i class="menu-icon tf-icons bx bxs-report"></i>
                                <div data-i18n="Basic">Reportes</div>
                            </a>
    
                            <ul class="menu-sub">
                                <li class="menu-item">
                                    <a href="/reportes/produccion" class="menu-link">
                                        <div data-i18n="Without navbar">Producción mensual</div>
                                    </a>
                                </li>
                                <li class="menu-item">
                                    <a href="/reportes/uso" class="menu-link">
                                        <div data-i18n="Container">Uso de los campos</div>
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <% } %>
                        
                    <!-- Campos -->
                    <li class="menu-header small text-uppercase"><span class="menu-header-text">Campos</span></li>
                    <li class="menu-item active open">
                        <a href="javascript:void(0);" class="menu-link menu-toggle">
                            <i class="menu-icon tf-icons bx bx-layout"></i>
                            <div data-i18n="Basic">Campos</div>
                        </a>

                        <ul class="menu-sub">
                            <li class="menu-item active">
                                <a href="/trazado" class="menu-link">
                                    <div data-i18n="Without navbar">Trazado</div>
                                </a>
                            </li>
                            <li class="menu-item">
                                <a href="/campos/list" class="menu-link">
                                    <div data-i18n="Container">Lista de campos</div>
                                </a>
                            </li>
                        </ul>
                    </li>

                    <!-- Planificación -->
                    <li class="menu-item">
                        <a href="javascript:void(0);" class="menu-link menu-toggle">
                            <i class="menu-icon tf-icons bx bx-notepad"></i>
                            <div data-i18n="Basic">Planificación</div>
                        </a>
                        <ul class="menu-sub">
                            <li class="menu-item">
                                <a href="/rotacion" class="menu-link">
                                    <div data-i18n="Container">Rotación de cultivos</div>
                                </a>
                            </li>
                            <li class="menu-item">
                                <a href="/actividades/0" class="menu-link">
                                    <div data-i18n="Container">Actividades</div>
                                </a>
                            </li>
                        </ul>
                    </li>
                    <% if (usuario.rol_usuario==1) {%>
                        <li class="menu-item">
                            <a href="/estados" class="menu-link">
                                <i class="menu-icon tf-icons bx bx-collection"></i>
                                <div data-i18n="Basic">Estados</div>
                            </a>
                        </li>
                        <% } %>
                            <li class="menu-item">
                                <a href="/registros" class="menu-link">
                                    <i class="menu-icon tf-icons bx bxs-layout"></i>
                                    <div data-i18n="Analytics">Cosechas</div>
                                </a>
                            </li>

                            <!-- Cultivos -->
                            <% if (usuario.rol_usuario==1) {%>
                                <li class="menu-header small text-uppercase"><span
                                        class="menu-header-text">Cultivos</span>
                                </li>
                                <li class="menu-item">
                                    <a href="/familias" class="menu-link">
                                        <i class="menu-icon tf-icons bx bx-category"></i>
                                        <div data-i18n="Basic">Familias</div>
                                    </a>
                                </li>
                                <li class="menu-item">
                                    <a href="/cultivos" class="menu-link">
                                        <i class="menu-icon tf-icons bx bx-spa"></i>
                                        <div data-i18n="Basic">Cultivos</div>
                                    </a>
                                </li>
                                <% } %>

                                    <!-- Usuarios -->
                                    <% if (usuario.rol_usuario==1) {%>
                                        <li class="menu-header small text-uppercase">
                                            <span class="menu-header-text">Usuarios</span>
                                        </li>
                                        <% } else {%>
                                            <li class="menu-header small text-uppercase">
                                                <span class="menu-header-text">Usuario</span>
                                            </li>
                                            <% } %>
                                                <li class="menu-item">
                                                    <a href="/perfil" class="menu-link">
                                                        <i class="menu-icon tf-icons bx bxs-user-account"></i>
                                                        <div data-i18n="Analytics">Mi perfil</div>
                                                    </a>
                                                </li>
                                                <% if (usuario.rol_usuario==1) {%>
                                                    <li class="menu-item">
                                                        <a href="/usuarios" class="menu-link">
                                                            <i class="menu-icon tf-icons bx bx-group"></i>
                                                            <div data-i18n="Analytics">Usuarios</div>
                                                        </a>
                                                    </li>
                                                    <li class="menu-item">
                                                        <a href="/roles" class="menu-link">
                                                            <i class="menu-icon tf-icons bx bx-detail"></i>
                                                            <div data-i18n="Analytics">Roles</div>
                                                        </a>
                                                    </li>

                                                    <!-- Configuracion -->
                                                    <li class="menu-header small text-uppercase">
                                                        <span class="menu-header-text">Configuración</span>
                                                    </li>
                                                    <li class="menu-item">
                                                        <a href="/configuracion" class="menu-link">
                                                            <i class="menu-icon tf-icons bx bx-cog"></i>
                                                            <div data-i18n="Analytics">Configuraciones</div>
                                                        </a>
                                                    </li>
                                                    <% } %>
                                                        <li class="menu-item">
                                                            <a href="/logout" class="menu-link">
                                                                <i class="menu-icon tf-icons bx bx-log-out"></i>
                                                                <div data-i18n="Analytics">Cerrar sesión</div>
                                                            </a>
                                                        </li>
                </ul>
            </aside>
            <!-- / Menu -->

            <!-- Layout container -->
            <div class="layout-page">

                <!-- Navbar -->
                <nav class="layout-navbar container-xxl navbar navbar-expand-xl navbar-detached align-items-center bg-navbar-theme"
                    id="layout-navbar">
                    <div class="layout-menu-toggle navbar-nav align-items-xl-center me-3 me-xl-0 d-xl-none">
                        <a class="nav-item nav-link px-0 me-xl-4" href="javascript:void(0)">
                            <i class="bx bx-menu bx-sm"></i>
                        </a>
                    </div>

                    <div class="navbar-nav-right d-flex align-items-center" id="navbar-collapse">
                        <!-- Buscar -->
                        <div class="navbar-nav align-items-center">
                            <div class="nav-item d-flex align-items-center">
                                <i class="bx bx-search fs-4 lh-0"></i>
                                <input type="text" class="form-control border-0 shadow-none" placeholder="Buscar..."
                                    aria-label="Search..." />
                            </div>
                        </div>
                        <!-- /Buscar -->

                        <ul class="navbar-nav flex-row align-items-center ms-auto">
                            <!-- Place this tag where you want the button to render. -->
                            <li class="nav-item lh-1 me-3">
                                <span class="badge bg-label-secondary"><i class="menu-icon tf-icons bx bx-calendar"></i>
                                    <%= date %>
                                </span>
                            </li>

                            <!-- User -->
                            <li class="nav-item navbar-dropdown dropdown-user dropdown">
                                <a class="nav-link dropdown-toggle hide-arrow" href="javascript:void(0);"
                                    data-bs-toggle="dropdown">
                                    <div class="avatar avatar-online">
                                        <img src="/assets/img/avatars/Usuario.jpg" alt
                                            class="w-px-40 h-auto rounded-circle" />
                                    </div>
                                </a>
                                <ul class="dropdown-menu dropdown-menu-end" style="z-index: 10000">
                                    <li>
                                        <a class="dropdown-item" href="#">
                                            <div class="d-flex">
                                                <div class="flex-shrink-0 me-3">
                                                    <div class="avatar avatar-online">
                                                        <img src="/assets/img/avatars/Usuario.jpg" alt
                                                            class="w-px-40 h-auto rounded-circle" />
                                                    </div>
                                                </div>
                                                <div class="flex-grow-1">
                                                    <span class="fw-semibold d-block">
                                                        <%= usuario.nombre %>
                                                    </span>
                                                    <small class="text-muted">
                                                        <%= rol %>
                                                    </small>
                                                </div>
                                            </div>
                                        </a>
                                    </li>
                                    <li>
                                        <div class="dropdown-divider"></div>
                                    </li>
                                    <li>
                                        <a class="dropdown-item" href="/perfil">
                                            <i class="bx bxs-user-account me-2"></i>
                                            <span class="align-middle">Mi perfil</span>
                                        </a>
                                    </li>
                                    <% if (usuario.rol_usuario == 1) {%>
                                        <li>
                                            <a class="dropdown-item" href="/configuracion">
                                                <i class="bx bx-cog me-2"></i>
                                                <span class="align-middle">Configuraciones</span>
                                            </a>
                                        </li>
                                        <% } %>
                                    <li>
                                        <div class="dropdown-divider"></div>
                                    </li>
                                    <li>
                                        <a class="dropdown-item" href="/logout">
                                            <i class="bx bx-power-off me-2"></i>
                                            <span class="align-middle">Cerrar sesión</span>
                                        </a>
                                    </li>
                                </ul>
                            </li>
                            <!--/ User -->
                        </ul>
                    </div>
                </nav>
                <!-- / Navbar -->

                <!-- Contenido del Trazado -->
                <div class="content-wrapper">
                    <div class="container-xxl flex-grow-1 container-p-y">
                        <div class="card" id="map"></div>
                    </div>

                    <!-- Ventada Nuevo Campo -->
                    <button id="btnNuevoCampo" type="button" class="btn btn-outline-primary" data-bs-toggle="modal"
                        data-bs-target="#modalCenter" style="display: none;"> <span
                            class="tf-icons bx bx-plus-circle"></span></button>
                    <div class="modal fade" id="modalCenter" tabindex="-1" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="modalCenterTitle">Nuevo campo</h5>
                                    <button onclick="closeNuevoCampo()" type="button" class="btn-close"
                                        data-bs-dismiss="modal" aria-label="Close" title="Cancelar"></button>
                                </div>
                                <div class="modal-body">
                                    <div class="mb-3">
                                        <label class="form-label" for="basic-icon-default-fullname">Nombre</label>
                                        <div class="input-group input-group-merge">
                                            <span id="basic-icon-default-fullname2" class="input-group-text"><i
                                                    class="bx bx-pencil"></i></span>
                                            <input type="text" class="form-control" id="idtxtNombre"
                                                placeholder="Nombre del campo" name="nombre"
                                                aria-describedby="basic-icon-default-fullname2" required />
                                        </div>
                                    </div>
                                    <% if (usuario.rol_usuario != 1) {%>
                                    <div class="mb-3">
                                        <label for="exampleFormControlSelect1" class="form-label">Encargado</label>
                                        <select class="form-select" id="encargadoCampo" aria-label="Seleccionar el encargado" disabled>
                                            <option value="<%= usuario.id %>">
                                                <%= usuario.nombre %>
                                            </option>
                                        </select>
                                    </div>
                                    <% } else {%>
                                        <div class="mb-3">
                                            <label for="exampleFormControlSelect1" class="form-label">Encargado</label>
                                            <select class="form-select" id="encargadoCampo" aria-label="Seleccionar el encargado" required>
                                                <% if (usuarios) {%>
                                                    <% for (var i=0; i < usuarios.length; i++) { %>
                                                        <option value="<%= usuarios[i].id %>">
                                                            <%= usuarios[i].nombre %>
                                                        </option>
                                                        <% } %>
                                                    <% } %>
                                            </select>
                                        </div>
                                    <% } %>
                                    <div class="mb-3">
                                        <label class="form-label" for="basic-icon-default-fullname">Área
                                            (m<sup>2</sup>)</label>
                                        <div class="input-group input-group-merge">
                                            <span id="basic-icon-default-fullname2" class="input-group-text"><i
                                                    class="bx bx-square"></i></span>
                                            <input type="number" class="form-control" id="idtxtArea"
                                                placeholder="Área del campo" name="area"
                                                aria-describedby="basic-icon-default-fullname2" required />
                                        </div>
                                    </div>
                                    <div class="mb-3">
                                        <label class="form-label" for="basic-icon-default-message">Descripción</label>
                                        <div class="input-group input-group-merge">
                                            <span id="basic-icon-default-message2" class="input-group-text"><i
                                                    class="bx bx-detail"></i></span>
                                            <textarea id="idtxtDetalle" class="form-control"
                                                placeholder="Describa el campo" name="descripcion"
                                                aria-describedby="basic-icon-default-message2"></textarea>
                                        </div>
                                    </div>
                                    <p id="error" class="mb-n1 py-1"
                                        style="color:#ff5c5c; font-size: small; display: none;">* El
                                        área del campo es muy pequeña</p>
                                    <div class="modal-footer my-1">
                                        <button id="btnCancelarNC" onclick="closeNuevoCampo()" type="button"
                                            class="btn btn-outline-secondary" data-bs-dismiss="modal">Cancelar</button>
                                        <button id="btnSaveCampo" onclick="saveCampo()"
                                            class="btn btn-primary">
                                            <span class="tf-icons bx bx-save"></span> Guardar</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Ventana Cosechar Campo -->
                    <div id="containerCosechar" class="container_cosechar hideContainer">
                        <div class="card-title d-flex align-items-start justify-content-between">
                            <h5 class="mb-1 py-0 flex-shrink-0">Registro de la cosecha</h5>
                            <button id="btnCerrar" onclick="closeCosecha()" class="btn-close" title="Cancelar">
                            </button>
                        </div>
                        <form action="/registros/add" method="post">
                            <div class="mb-2">
                                <label class="form-label" for="basic-icon-default-fullname">Siembra</label>
                                <div class="input-group input-group-merge">
                                    <span id="basic-icon-default-fullname2" class="input-group-text"><i
                                            class="bx bxs-layout"></i></span>
                                    <input type="number" class="form-control" id="identificadorSiembra" name="id"
                                        aria-describedby="basic-icon-default-fullname2" readonly />
                                </div>
                            </div>
                            <div class="mb-2">
                                <label class="form-label" for="basic-icon-default-fullname">Producción obtenida
                                    (Kg)</label>
                                <div class="input-group input-group-merge">
                                    <span id="basic-icon-default-fullname2" class="input-group-text"><i
                                            class="bx bx-stats"></i></span>
                                    <input type="number" class="form-control" id="produccionObtenida"
                                        placeholder="Producción obtenida" name="produccion"
                                        aria-describedby="basic-icon-default-fullname2" min="0" required />
                                </div>
                            </div>
                            <div class="mb-2">
                                <label for="html5-date-input" class="form-label">Fecha de cosecha</label>
                                <div class="col-md-10" style="width: 100%">
                                    <input class="form-control" name="fecha_cosecha" style="width: 100%;" type="date"
                                        min="<%= date %>" value="<%= date %>" required />
                                </div>
                            </div>
                            <div class="mb-2">
                                <label class="form-label" for="basic-icon-default-message">Novedades</label>
                                <div class="input-group input-group-merge">
                                    <span id="basic-icon-default-message2" class="input-group-text"><i
                                            class="bx bx-detail"></i></span>
                                    <textarea class="form-control" placeholder="Novedades de la cosecha"
                                        name="novedades" aria-describedby="basic-icon-default-message2"></textarea>
                                </div>
                            </div>
                            <button class="btn btn-primary" type="submit">
                                <span class="tf-icons bx bx-save"></span> Guardar</button>
                        </form>
                    </div>

                    <!-- Ventana Sembrar cultivo -->
                    <div id="containerCultivoAdd" class="container_datos_cultivo hideContainer">
                        <div class="card-title d-flex align-items-start justify-content-between">
                            <h5 class="mb-1 py-0 flex-shrink-0">Sembrar cultivo</h5>
                            <button id="btnCerrar" onclick="closeSiembra()" class="btn-close" title="Cancelar">
                            </button>
                        </div>
                        <form>
                            <div class="mb-2">
                                <small id="idCampo"></small>
                                <label for="exampleFormControlSelect1" class="form-label">Cultivo</label>
                                <select class="form-select" id="selectedCultivo" aria-label="Seleccionar el cultivo"
                                    onchange="doPrediccion()">
                                    <% if (cultivos) {%>
                                        <% for (var i=0; i < cultivos.length; i++) { %>
                                            <option value="<%= cultivos[i].id %>">
                                                <%= cultivos[i].nombre %>
                                            </option>
                                            <% } %>
                                                <% } %>
                                </select>
                            </div>
                            <div class="mb-2">
                                <label for="html5-date-input" class="form-label">Fecha de siembra</label>
                                <div class="col-md-10" style="width: 100%">
                                    <input class="form-control" style="width: 100%;" type="date" id="fechaSiembra"
                                        min="<%= date %>" value="<%= date %>" />
                                </div>
                            </div>
                            <button onclick="saveSiembra()" class="btn btn-primary">
                                <span class="tf-icons bx bx-plus-circle"></span> Sembrar</button>
                        </form>
                    </div>

                    <!-- Ventana Informacion -->
                    <div id="containerOptions" class="container_options hideContainer">
                        <div class="card-title d-flex align-items-start justify-content-between">
                            <h5 id="nombreCampo" class="mb-0 py-0 flex-shrink-0"></h5>
                            <button id="btnCerrar" onclick="closeOptions()" class="btn-close" title="Cerrar">
                            </button>
                        </div>
                        <small id="idVacio" title="<%= config[0].campo_vacio %>"></small>
                        <div class="dropdown-divider"></div>
                        <div class="card-body d-flex align-items-start justify-content-between">
                            <h1 id="areaCampo" class="mb-0 text-primary"></h1>
                            <span id="estadoCampo" class="pt-3"><label for="basic-icon-default-fullname"></label></span>
                        </div>
                        <div class="demo-inline-spacing mt-0">
                            <div class="list-group list-group-horizontal-md text-md-center">
                                <a class="list-group-item list-group-item-action active" id="home-list-item"
                                    data-bs-toggle="list" href="#siembra">Siembra</a>
                                <a class="list-group-item list-group-item-action" id="profile-list-item"
                                    data-bs-toggle="list" href="#actividades">Actividades</a>
                                <a class="list-group-item list-group-item-action" id="settings-list-item"
                                    data-bs-toggle="list" href="#editar">Editar</a>
                            </div>
                            <div class="tab-content px-0">
                                <div class="tab-pane fade show active" id="siembra">
                                    <div id="contenedorSembrar" class="hideContainer">
                                        <p>No hay siembras en este campo</p>
                                        <button id="btnSaveSiembra" onclick="newSiembra()" class="btn btn-primary">
                                            <span class="tf-icons bx bx-plus-circle"></span> Nueva siembra</button>
                                    </div>
                                    <div id="contenedorSiembra" class="hideContainer">
                                        <small id="idSiembra"></small>
                                        <h5 class="mb-2 py-1">Información de la siembra</h5>
                                        <div class="mb-2">
                                            <span id="basic-icon-default-fullname2" class="py-2"><i
                                                    class="bx bx-spa"></i><label class="px-2"
                                                    for="basic-icon-default-fullname">Cultivo:</label><small
                                                    class="flex-shrink-0" id="cultivo"></small></span>
                                        </div>
                                        <div class="mb-2">
                                            <span id="basic-icon-default-fullname2" class="py-2"><i
                                                    class="bx bx-calendar"></i><label class="px-2"
                                                    for="basic-icon-default-fullname">Fecha de sembrado:</label><small
                                                    class="flex-shrink-0" id="fecha_siembra"></small></span>
                                        </div>
                                        <div class="mb-2">
                                            <span id="basic-icon-default-fullname2" class="py-2"><i
                                                    class="bx bx-stats"></i><label class="px-2"
                                                    for="basic-icon-default-fullname">Producción estimada:</label><small
                                                    class="flex-shrink-0" id="stock_estimado"></small></span>
                                        </div>
                                        <div class="mb-2">
                                            <span id="basic-icon-default-fullname2" class="py-2"><i
                                                    class="bx bx-calendar"></i><label class="px-2"
                                                    for="basic-icon-default-fullname">Cosecha
                                                    estimada:</label><small class="flex-shrink-0"
                                                    id="fecha_cosecha_est"></small></span>
                                        </div>
                                        <button onclick="procesoCosecha()" class="btn btn-primary">
                                            <span class="tf-icons bx bx-check-circle"></span> Cosechar</button>
                                        <a class="btn btn-outline-danger" onclick="eliminarSiembra()"
                                            onmouseenter="entra()" onmouseleave="sale()"
                                            title="Cancelar siembra"><i id="btnDelete" class="bx bx-trash idred"></i></a>
                                    </div>
                                </div>
                                <div class="tab-pane fade" id="actividades">
                                    <div id="contenedorActividad" class="hideContainer">
                                        <p>No se han planificado actividades en este campo</p>
                                        <button onclick="locateActividad()" class="btn btn-primary">
                                            <span class="tf-icons bx bx-plus-circle"></span> Planificar
                                            actividad</button>
                                    </div>
                                    <div id="contenedorActividadActual" class="hideContainer">
                                        <h5 class="mb-2 py-1">Actividad actual</h5>
                                        <div class="mb-2">
                                            <span id="basic-icon-default-fullname2" class="py-2"><i
                                                    class="bx bx-task"></i><label class="px-2"
                                                    for="basic-icon-default-fullname">Actividad:</label><small
                                                    class="flex-shrink-0" id="actividad"></small></span>
                                        </div>
                                        <div class="mb-2">
                                            <span id="basic-icon-default-fullname2" class="py-2"><i
                                                    class="bx bx-calendar"></i><label class="px-2"
                                                    for="basic-icon-default-fullname">Fecha de inicio:</label><small
                                                    class="flex-shrink-0" id="fecha_inicio"></small></span>
                                        </div>
                                        <div class="mb-2">
                                            <span id="basic-icon-default-fullname2" class="py-2"><i
                                                    class="bx bx-calendar"></i><label class="px-2"
                                                    for="basic-icon-default-fullname">Fecha de
                                                    finalización:</label><small class="flex-shrink-0"
                                                    id="fecha_fin"></small></span>
                                        </div>
                                        <button onclick="locateActividad()" class="btn btn-primary">
                                            <span class="tf-icons bx bx-plus-circle"></span> Nueva actividad</button>
                                    </div>
                                </div>
                                <div class="tab-pane fade" id="editar">
                                    <div class="mt-1 mb-2">
                                        <button id="editForma" onclick="editForma()" class="btn btn-outline-primary"
                                            style="width: 100%;" disabled>
                                            <span class="tf-icons bx bx-shape-polygon"></span> Editar forma del
                                            campo</button>
                                    </div>
                                    <div class="mb-2">
                                        <button id="editDatos" onclick="locateEdit()" class="btn btn-outline-primary"
                                            style="width: 100%;" disabled>
                                            <span class="tf-icons bx bx-edit-alt"></span> Editar datos del
                                            campo</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Ventana de Prediccion -->
                    <div id="containerPrediccion" class="container_prediccion hideContainer">
                        <div class="card-title d-flex align-items-start justify-content-between">
                            <h5 class="mb-n2 py-2 flex-shrink-0">Predicción</h5>
                        </div>
                        <div class="mb-2">
                            <span id="basic-icon-default-fullname2" class="py-2"><i class="bx bx-spa"></i><label
                                    class="px-2" for="basic-icon-default-fullname">Cultivo:</label><small
                                    class="flex-shrink-0" id="nomcultivo"></small></span>
                        </div>
                        <div class="mb-2">
                            <span id="basic-icon-default-fullname2" class="py-2"><i class="bx bx-stats"></i><label
                                    class="px-2" for="basic-icon-default-fullname">Producción estimada:</label><small
                                    class="flex-shrink-0" id="prediccion_estimada"></small></span>
                        </div>
                    </div>

                    <!-- Ventana Editar forma -->
                    <div id="containerEditForma" class="container_datos_cultivo hideContainer">
                        <div class="card-title d-flex align-items-start justify-content-between">
                            <h5 class="mb-1 py-0 flex-shrink-0">Editar forma</h5>
                            <button onclick="closeEditForma()" class="btn-close" title="Cancelar">
                            </button>
                        </div>
                        <div class="mb-2">
                            <p><span class="tf-icons bx bx-info-circle text-primary" title="Información"></span> Mueva
                                los puntos para editar la forma del campo, una vez finalizado presione Guardar.</p>

                        </div>
                        <button onclick="saveForma()" class="btn btn-primary">
                            <span class="tf-icons bx bx-save"></span> Guardar</button>
                    </div>

                    <!-- Ventana de Buscador y Leyenda -->
                    <div id="containerBuscador" class="container_buscador">
                        <select class="form-select" id="selectedCampo" aria-label="Localizar campo"
                            onchange="setCenterPosition(this.value)">
                            <% if (campos.length> 0) {%>
                                <% for (var i=0; i < campos.length; i++) { %>
                                    <option value="<%= campos[i].id %>">
                                        <%= campos[i].nombre %>
                                    </option>
                                    <% } %>
                                        <% } else {%>
                                            <option value="0">
                                                No hay campos
                                            </option>
                                            <% } %>
                        </select>
                        <div class="accordion mt-1" id="accordionExample">
                            <div class="card accordion-item active">
                                <h2 class="accordion-header" id="headingOne">
                                    <button type="button" class="accordion-button" data-bs-toggle="collapse"
                                        data-bs-target="#accordionOne" aria-expanded="true"
                                        aria-controls="accordionOne">
                                        Leyenda
                                    </button>
                                </h2>

                                <div id="accordionOne" class="accordion-collapse collapse"
                                    data-bs-parent="#accordionExample">
                                    <div class="accordion-body">
                                        <% if (estados) {%>
                                            <% for (var i=0; i < estados.length; i++) { %>
                                                <svg style="position: absolute;" version="1.1"
                                                    xmlns="http://www.w3.org/2000/svg" width="15" height="28"
                                                    viewBox="0 0 5 30">
                                                    <rect x="3" y="1" width="30" height="20"
                                                        fill="<%= estados[i].color %>" />
                                                </svg>
                                                <p class="px-1 mb-1" style="margin-left: 15%;">
                                                    <%= estados[i].nombre %>
                                                </p>
                                                <% } %>
                                                    <% } %>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- / Contenido -->

            <div class="content-backdrop fade"></div>
        </div>
        <!-- Content wrapper -->
    </div>
    <!-- / Layout page -->
    </div>

    <!-- Overlay -->
    <div class="layout-overlay layout-menu-toggle"></div>
    </div>

    <!-- Core JS -->
    <!-- build:js assets/vendor/js/core.js -->
    <script src="/assets/vendor/libs/jquery/jquery.js"></script>
    <script src="/assets/vendor/libs/popper/popper.js"></script>
    <script src="/assets/vendor/js/bootstrap.js"></script>
    <script src="/assets/vendor/libs/perfect-scrollbar/perfect-scrollbar.js"></script>

    <script src="/assets/vendor/js/menu.js"></script>
    <!-- endbuild -->

    <!-- Vendors JS -->
    <script src="/assets/vendor/libs/apex-charts/apexcharts.js"></script>

    <!-- Main JS -->
    <script src="/assets/js/main.js"></script>

    <!-- Page JS -->
    <script src="/assets/js/dashboards-analytics.js"></script>

    <!-- Place this tag in your head or just before your close body tag. -->
    <script async defer src="https://buttons.github.io/buttons.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.7.3/dist/sweetalert2.all.min.js"></script>
    <script>
        function readAllCamposApi() {
            $.ajax({
                url: '/campos',
                method: 'GET',
                dataType: 'json',
                success: function (response) {
                    // Respuesta exitosa de la API
                    if (response.length > 0) {
                        for (let i = 0; i < response.length; i++) {
                            let list = response[i].coordenadas.split(';')
                            let listaPol = []
                            for (let j = 0; j < list.length; j++) {
                                let list2 = list[j].split(',')
                                let obj = { lat: parseFloat(list2[0]), lng: parseFloat(list2[1]) }
                                listaPol.push(obj)
                            }

                            if (listaPol.length > 0) {
                                const newPolygon = new google.maps.Polygon({
                                    paths: listaPol,
                                    strokeOpacity: 0.8,
                                    strokeWeight: 3,
                                    fillColor: response[i].color,
                                    fillOpacity: 0.4,
                                    id: response[i].id,
                                    estado: response[i].estado,
                                    nombre: response[i].nombre,
                                    area: response[i].area,
                                    nombreEstado: response[i].nombreEstado,
                                    campoSembrado: response[i].campoSembrado
                                });

                                newPolygon.setMap(oMapaGoogle);
                                newPolygon.addListener("click", function () {
                                    showOptions(newPolygon);
                                });
                            }
                        }
                    }
                },
                error: function (xhr, status, error) {
                    // Ocurrió un error al hacer la solicitud
                    console.error(error);
                }
            });
        }

        function showOptions(campo) {
            if (oPolygon != null) {
                closeEditForma();
            }
            let contenedor = document.getElementById("containerOptions");
            const idCampo = document.getElementById("idCampo");
            idCampo.title = campo.id;
            const nombreCampo = document.getElementById("nombreCampo");
            nombreCampo.textContent = campo.nombre;
            const areaCampo = document.getElementById("areaCampo");
            areaCampo.textContent = campo.area + " m²";
            const estadoCampo = document.getElementById("estadoCampo");
            estadoCampo.textContent = campo.nombreEstado;
            showSiembra(campo.id);
            contenedor.classList.remove('hideContainer');
            if (campo.estado != campo.campoSembrado) {
                document.getElementById('editForma').disabled = false;
                document.getElementById('editDatos').disabled = false;
            } else {
                document.getElementById('editForma').disabled = true;
                document.getElementById('editDatos').disabled = true;
            }
            closeSiembra();
            showActividad();
            oPolygon = campo;
        }

        function closeOptions() {
            let contenedor = document.getElementById("containerOptions");
            contenedor.classList.add('hideContainer');
        }

        function newSiembra() {
            let contenedor = document.getElementById('containerCultivoAdd');
            contenedor.classList.remove('hideContainer');
            let contenedor2 = document.getElementById('containerPrediccion');
            contenedor2.classList.remove('hideContainer');
            closeOptions();
            doPrediccion();
        }

        function closeSiembra() {
            let contenedor = document.getElementById('containerCultivoAdd');
            contenedor.classList.add('hideContainer');
            let contenedor2 = document.getElementById('containerPrediccion');
            contenedor2.classList.add('hideContainer');
        }

        function showSiembra(id) {
            $.ajax({
                url: '/siembras/' + id,
                method: 'GET',
                dataType: 'json',
                success: function (response) {
                    // Respuesta exitosa de la API
                    const cultivo = document.getElementById("cultivo");
                    const fecha_siembra = document.getElementById("fecha_siembra");
                    const stock_estimado = document.getElementById("stock_estimado");
                    const fecha_cosecha_est = document.getElementById("fecha_cosecha_est");
                    const produccion = document.getElementById("produccionObtenida");
                    const siembra = document.getElementById("idSiembra");
                    const idsiembra = document.getElementById("identificadorSiembra");
                    if (response != null) {
                        siembra.title = response.id;
                        idsiembra.value = response.id;
                        cultivo.textContent = response.cultivo;
                        fecha_siembra.textContent = response.fecha_siembra;
                        stock_estimado.textContent = response.produccion_estimada + ' Kg';
                        fecha_cosecha_est.textContent = response.fecha_cosecha_est;
                        produccion.value = response.produccion_estimada;
                        let contenedor = document.getElementById("contenedorSiembra");
                        contenedor.classList.remove('hideContainer');
                        contenedor = document.getElementById("contenedorSembrar");
                        contenedor.classList.add('hideContainer');
                    }
                },
                error: function (xhr, status, error) {
                    // Ocurrió un error al hacer la solicitud
                    let contenedor = document.getElementById("contenedorSiembra");
                    contenedor.classList.add('hideContainer');
                    contenedor = document.getElementById("contenedorSembrar");
                    contenedor.classList.remove('hideContainer');
                }
            });
        }

        function saveSiembra() {
            let txtCultivo = document.getElementById("selectedCultivo");
            let txtFecha = document.getElementById("fechaSiembra");
            let idCampo = document.getElementById("idCampo");

            let objSiembra = {
                id_campo: idCampo.title,
                id_cultivo: txtCultivo.value,
                fecha_siembra: txtFecha.value
            }

            $.ajax({
                url: '/siembras/add',
                method: 'POST',
                dataType: 'json',
                data: {
                    id_campo: objSiembra.id_campo,
                    id_cultivo: objSiembra.id_cultivo,
                    fecha_siembra: objSiembra.fecha_siembra,
                },
                success: function (response) {
                    // La respuesta exitosa de la API
                    closeSiembra()
                    oPolygon.setMap(null)
                    readAllCamposApi()
                },
                error: function (xhr, status, error) {
                    // Ocurrió un error al hacer la solicitud
                    console.error(error);
                }
            });
        }

        function eliminarSiembra() {
            const siembra = document.getElementById("idSiembra").title
            Swal.fire({
                title: '¿Desea cancelar la siembra de este campo?',
                text: "La siembra se eliminará permanentemente",
                icon: 'warning',
                backdrop: false,
                showCancelButton: true,
                confirmButtonText: 'Aceptar'
            }).then((result) => {
                if (result.isConfirmed) {
                    window.location = '/siembras/delete/' + siembra;
                }
            })
        }

        function procesoCosecha() {
            let contenedor = document.getElementById('containerCosechar');
            contenedor.classList.remove('hideContainer');
            closeOptions();
        }

        function closeCosecha() {
            let contenedor = document.getElementById('containerCosechar');
            contenedor.classList.add('hideContainer');
        }

        function doPrediccion() {
            const id_cult = document.getElementById("selectedCultivo").value;
            const id_camp = document.getElementById("idCampo").title;
            $.ajax({
                url: '/trazado/' + id_camp + '/' + id_cult,
                method: 'GET',
                dataType: 'json',
                success: function (response) {
                    // Respuesta exitosa de la API
                    const cultivo = document.getElementById("nomcultivo")
                    const prediccion_estimada = document.getElementById("prediccion_estimada")

                    if (response != null) {
                        cultivo.textContent = response.cultivo
                        prediccion_estimada.textContent = response.produccion_estimada + ' Kg'
                    }
                },
                error: function (xhr, status, error) {
                    // Ocurrió un error al hacer la solicitud
                    console.error(error);
                }
            });
        }

        function locateEdit() {
            const id_campo = document.getElementById("idCampo").title;
            window.location = "/campos/" + id_campo;
        }

        function locateActividad() {
            const id_campo = document.getElementById("idCampo").title;
            window.location = "/actividades/" + id_campo;
        }

        function showActividad() {
            const id_campo = document.getElementById("idCampo").title;
            $.ajax({
                url: '/getActividad/' + id_campo,
                method: 'GET',
                dataType: 'json',
                success: function (response) {
                    // Respuesta exitosa de la API
                    let contenedorA = document.getElementById("contenedorActividad");
                    let contenedorAA = document.getElementById("contenedorActividadActual");
                    const actividad = document.getElementById("actividad");
                    const fecha_inicio = document.getElementById("fecha_inicio");
                    const fecha_fin = document.getElementById("fecha_fin");
                    if (response.actividad != undefined) {
                        actividad.textContent = response.actividad;
                        fecha_inicio.textContent = response.fecha_inicio;
                        fecha_fin.textContent = response.fecha_fin;
                        contenedorAA.classList.remove('hideContainer');
                        contenedorA.classList.add('hideContainer');
                    } else {
                        contenedorAA.classList.add('hideContainer');
                        contenedorA.classList.remove('hideContainer');
                    }
                },
                error: function (xhr, status, error) {
                    // Ocurrió un error al hacer la solicitud
                    contenedorAA.classList.add('hideContainer');
                    contenedorA.classList.remove('hideContainer');
                    console.error(error);
                }
            });
        }

        function setCenterPosition(campo) {
            $.ajax({
                url: '/rotacion/getCampo/' + campo,
                method: 'GET',
                dataType: 'json',
                success: function (response) {
                    // Respuesta exitosa de la API
                    if (response != null) {
                        const coordenadas = response.coordenadas.split(";");
                        const lat_lng = coordenadas[0].split(',');
                        const center = { lat: parseFloat(lat_lng[0]), lng: parseFloat(lat_lng[1]) };
                        oMapaGoogle.setCenter(center);
                        oMapaGoogle.zoom = 17;
                    }
                },
                error: function (xhr, status, error) {
                    // Ocurrió un error al hacer la solicitud
                    console.error(error);
                }
            });
        }

        function editForma() {
            closeOptions();
            oPolygon.setEditable(true);
            let contenedor = document.getElementById("containerEditForma");
            contenedor.classList.remove('hideContainer');
        }

        function closeEditForma() {
            let contenedor = document.getElementById("containerEditForma");
            contenedor.classList.add('hideContainer');
            oPolygon.setEditable(false);
        }

        function saveForma() {
            const id_campo = document.getElementById("idCampo").title;
            let paths = oPolygon.getPath().getArray();
            oPolygon.setEditable(false);
            let stringCoordenadas = "";

            for (var i = 0; i < paths.length; i++) {
                if (paths.length - 1 === i) {
                    stringCoordenadas = stringCoordenadas + paths[i].lat() + "," + paths[i].lng();
                } else {
                    stringCoordenadas = stringCoordenadas + paths[i].lat() + "," + paths[i].lng() + ";";
                }
            }

            $.ajax({
                url: '/campos/editForma/' + id_campo,
                method: 'POST',
                dataType: 'json',
                data: {
                    // Aquí puedes pasar los datos que deseas enviar en el cuerpo de la solicitud
                    coordenadas: stringCoordenadas
                },
                success: function (response) {
                    // La respuesta exitosa de la API
                    closeEditForma();
                    readAllCamposApi()
                },
                error: function (xhr, status, error) {
                    // Ocurrió un error al hacer la solicitud
                    console.error(error);
                }
            });
        }

        function entra(){
            document.getElementById("btnDelete").style.color = 'white';
        }

        function sale(){
            document.getElementById("btnDelete").style.color = '#ff3e1d';
        }
    </script>
</body>

</html>